# Stuff Lending System Test Report

Version #54b90ebc94f7fd5c1f2479415c26fc436765d8c7 (git commit hash/link)
Date: 2022.10.05
Environment: Windows, Java version 17.0.1. 
Performed by: Andrea Viola Caroline Åkesson

| Case        | Result      | Note        |
| ----------- | ----------- | ----------- |
| Header      | Title       | Title       |
| Paragraph   | Text        | Text        |
| Header      | Title       | Title       |
| Paragraph   | Text        | Text        |